
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    

<div class="container">
    <div class="col-12 col-md-6">
        <h2>Account Creation form</h2>
        <form method="POST" action>
            {% csrf_token %}
            <div class="form-group">
            <label for="email">Username:</label>
            {% load widget_tweaks %}
                {% render_field form.username class="form-control" placeholder="Enter desired username" %}
            </div>
            <div class="form-group">
            <label for="pwd">Password:</label>
            {% render_field form.password1 class="form-control" placeholder="Enter desired password" %}
            </div>
            <div class="form-group">
                <label for="pwd">Confirm Password:</label>
                {% render_field form.password2 class="form-control" placeholder="Re enter your password" %}
                </div>
            {% if form.errors %}
            {{ form.errors }}
            {% endif %}
            <a href="{% url 'login' %}" class="btn btn-default">Login</a>
            <button type="submit" class="btn btn-success">Create Account</button>
            
        </form>
    </div>
</div>

</body>
</html>
